body {
  min-width: 640px;
  max-width: 1980px;
}

#top{
  background-color: #26499d;
  margin-top: 0;
  height: 75px;
}

#Copyright {
margin: 0;
text-align: center;
border: 3px outset #f6b483;
background-color: #288c66;
}

#top2{
padding: 20px;
margin: 0 auto 0 auto;
text-align: center;
}

#top3{
padding: 20px;
margin: 0;
}

.breadcrumb {
margin: 0;
text-align: center;
border: 3px outset #f6b483;
background-color: #288c66;
width: 350px;
margin-right: auto;
margin-left: auto;
}

#breadcolor {
  color: white;
}

#carousel_img {
  padding-left: 0;
  padding-right: 0;
}

#titleimg {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

#titleimg2 {
  margin-bottom: 20%;
}

footer {
  width: 100%;
  height:125px;
  background-color: #26499d;
}

#footertext {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#test {
border: 2px solid white;
width: 50%;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 60%;
}

#test2 {
  border: 2px solid white;
}

