#top{
  background-color: #26499d;
  margin-top: 0;
  height: 75px;
}

#test {
  margin: 0;
text-align: center;
border: 3px outset #f6b483;
background-color: #288c66;
}

#top2{
padding: 10px;
margin: 0;
}

#top3{
padding: 20px;
margin: 0;
}

.breadcrumb {
margin: 0;
text-align: center;
border: 3px outset #f6b483;
background-color: #288c66;
}

#breadcolor {
  color: white;
}

#carousel_img {
  padding-left: 0;
  padding-right: 0;
}

#titleimg {
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  height:125px;
  background-color: #26499d;
}

#footertext {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}


